@charset "utf-8";
/* CSS Document */
.page-first .banner{width:730px; height:454px; padding:12px 10px 10px 10px; overflow:hidden; float:left;}
.page-first .banner a{display:block;}
.page-first .page1-text{float:left; margin-top: 12px;}
.page1-text .news{width: 248px; height: 163px; border: 1px solid #e4e4e4;}
.page1-text .title{ padding:0 15px; line-height:32px; height:32px; border-bottom: 1px dotted #e8e8e7;}
.page1-text .title h4{font-size:16px; color:#666;  float:left; font-weight: normal;}
.page1-text .title a{font-size:11px; color:#666; float:right;}
.page1-text .title a:hover{color: #c81623;}
.page1-text .news ul{padding-left: 15px;}
.page1-text .news ul li{line-height: 24px; height: 24px; width: 205px; overflow: hidden;}
.page1-text .news ul li a{color: #666; font-size: 12px; display: block;}
.page1-text .news ul li span{font-size: 14px;  font-weight: bold; padding-right: 6px;}
.page1-text .news ul  li a:hover{color: #c81623;}
.page1-text .icon{width:248px; height:208px; overflow:hidden; border:1px solid #e8e8e7; border-top:none;}
.page1-text .icon ul{width:260px; height:220px;}
.page1-text .icon ul li{width:62px; height:70px; text-align:center; float:left; border-right:1px solid #E8E8E7; border-bottom:1px solid #E8E8E7; position:relative;}
.page1-text .icon ul li i{width:25px; height:25px; background:url(../images/icon1.png) no-repeat; display:block; position:absolute; top:13px; left:0; right:0; margin:0 auto;}
.page1-text .icon li p{font-size:12px; color:#666; line-height:30px; height:30px; padding-top:40px;}
.page1-text .icon li:hover p{color:#c81623;}
.page1-text .icon ul li .er{background-position:left -27px;}
.page1-text .icon ul li .san{background-position:left -52px;}
.page1-text .icon ul li .si{background-position:left -75px;}
.page1-text .icon ul li .wu{background-position:left -100px;}
.page1-text .icon ul li .liu{background-position:left -125px;}
.page1-text .icon ul li .qi{background-position:left -150px;}
.page1-text .icon ul li .ba{background-position:left -175px;}
.page1-text .icon ul li .jiu{background-position:left -275px;}
.page1-text .icon ul li .shi{background-position:left -200px;}
.page1-text .icon ul li .shiyi{background-position:left -275px;}
.page1-text .icon ul li .shier{background-position:left -250px;}
.page1-text .pic{width:250px; height:75px; padding-top:5px; overflow:hidden; font-size:0;}

/*今日推荐*/
.today{width:1210px; margin:0 auto;}
.today dl dt{float:left;}
.today dl dt a{display:block; width:210px; height:151px; background:url(../images/homebg.png) no-repeat -213px -136px;}
.today dl dd{float:left; width:249px; height:162px; padding-right:1px; font-size:0;}
.today dl dd img{width:249px;}

/*猜你喜欢*/
.like{width:1210px; margin:0 auto;}
.like-tit h3{font-size:20px; color:#333; line-height:40px; height:40px; font-weight:500; float:left; padding-top:18px;}
.like-tit h3 span{height:15px; width:225px; display:inline-block; background:url(../images/homebg.png) no-repeat left -101px; margin-left:3px;}
.like-tit a{float:right; display:block; font-size:12px; color:#666; line-height:38px; height:38px; padding-top:31px;}
.like-tit a i{width:20px; height:20px; display:block;float:right; background:url(../images/homebg.png) no-repeat -351px -5px; margin:9px 0 0 6px; transition:transform 0.5s;}
.like-tit a:hover{color:#C81623;}
.like-tit a:hover i{background-position:-351px -29px; transform:rotate(180deg);}
.like-content{width:1208px; height:231px; border:1px solid #ededed; position:relative;}
.like .line{position:absolute; top:-3px; right:0;}
.like .line i{width:365px; height:5px; background:url(../images/homebg.png) no-repeat left -124px; display:block;}
.like-content:hover .line{animation:like 1s;}
.like-list{width:201px; float:left;}
.like-pic{height:160px; width:201px; text-align:center; position:relative; overflow:hidden;}
.like-pic img{position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; }
.like-text{border-right:1px solid #e6e6e6; padding:0 36px;}
.like-list-last{border-right:none;}
.like-text p{font-size:13px; color:#666666; line-height:18px; font-family:"宋体"; height:36px; overflow:hidden;}
.like-text h4{font-size:19px; color:#b51d1a; line-height:21px; font-weight:600; padding-top:5px;}
@keyframes like{
	0%{right:800px;}
	100%{right:0;}
}

.life{width:1210px; margin:0 auto;}
.life-tit{height:34px; padding-top:22px;}
.life-tit h3{font-size:20px; color:#333; line-height:34px; height:34px; font-weight:500; float:left;}
.life-content{width:1208px; height:405px; border:1px solid #ededed;}
.life-left{width:404px; float:left;}
.life-left .top{ width:403px; height:246px;border-right:1px solid #ededed; border-bottom:1px solid #ededed; background-color:#f7f7f7; position:relative; }
.life-left .top h4{font-size:14px; font-weight:600; line-height:40px; height:40px; border-bottom:1px dashed #e0e0e0; margin:0 20px; text-align:center;  color:#333; position:relative;}
.life-left .top .pic{width:403px; height:205px; overflow:hidden;}
.life-left .top .text{position:absolute; top:100px; left:46px;}
.life-left .text h5{font-size:16px; height:38px; line-height:38px; color:#333;}
.life-left .text p{font-size:12px; height:19px; line-height:19px; color:#333;}
.life-left .text span{font-size:12px; height:17px; line-height:17px; color:#c81623;}
.life-left .bot-content{width:201px; height:158px; border-right:1px solid #ededed; overflow:hidden; position:relative; float:left;}
.life-left .bot-content .text{position:absolute; top:39px; left:10px;}
.life-center{width:229px; float:left;}
.life-center .top{ width:228px; height:246px;border-right:1px solid #ededed; border-bottom:1px solid #ededed; background-color:#fff; position:relative; }
.life-center .top h4{font-size:14px; font-weight:600; line-height:40px; height:40px; border-bottom:1px dashed #e0e0e0; margin:0 20px; text-align:center; color:#333;}
.life-center .top .pic{width:228px; height:205px; overflow:hidden;}
.life-center .top .text{position:absolute; top:100px; left:10px;}
.life-center .text h5{font-size:16px; height:38px; line-height:38px; color:#333;}
.life-center .text p{font-size:12px; height:19px; line-height:19px; color:#333;}
.life-center .text span{font-size:12px; height:17px; line-height:17px; color:#c81623;}
.life-center .bot-content{width:228px; height:158px; border-right:1px solid #ededed; overflow:hidden; position:relative; float:left;}
.life-center .bot-content .text{position:absolute; top:39px; left:10px;}
.life-last{width:171px; height:405px; float:left;}
.life-last .life-icon{height:381px; overflow:hidden; margin-top:13px;}
.life-last ul{float:left; border-right:1px dashed #E0E0E0; overflow:hidden; margin-top:-13px; }
.life-last ul li{width:74px; height:57px; border-bottom:1px dashed #e0e0e0; margin-left:11px;}
.life-last ul li a{width:85px; font-size:0; margin-left:-3px; display:block; overflow:hidden;}
.life-last .r-icon{border-right:none;}
.life-last .r-icon li{width:74px; border-bottom:1px dashed #e0e0e0; margin-left:0;}
.life-last .r-icon li a{margin-left:8px;}

.ad{width:1210px; height:125px; margin:0 auto; padding-top:20px;}
.ad a{float:left; font-size:0; display:block;}

/*服装鞋包*/
.floor1{width:1210px; margin:0 auto; padding-top:10px;}
.title{height:40px; border-bottom:1px solid #c81623;}
.title h3{font-size:20px; color:#333; line-height:40px; height:40px; font-weight:500; float:left;}
.title h3 span{color:#FFFFFF; width:31px; height:32px; font-size:14px; line-height:32px; display:inline-block; background:url(../images/nva_bg.png) no-repeat left -35px;
                         padding:0 9px 3px 2px;}
.title .nav{float:right; border:1px solid #ededed; border-bottom:none; margin-top:5px;}
.title .nav li{float:left; line-height:31px; height:31px; position:relative; border-left:1px solid #fff; border-right:1px solid #fff;
                          border-top:3px solid #fff; margin-right:-1px; border-collapse:collapse;}
.title .nav li a{font-size:13px; display:block; color:#666; padding:0 17px; font-family:"宋体";}
.title .nav li i{width:1px; height:14px; background-color:#cccccc; position:absolute; top:8px; right:-1px; z-index:6;}
.title .nav li:hover{ border-left:1px solid #c81623; border-right:1px solid #c81623; border-top:3px solid #c81623; z-index:7; margin-top:-1px; padding-top:1px;}
.title .nav li:hover a{background-color:#FFFFFF; height:32px;}
.title .nav li:hover i{display:none;}
.title .nav .active{ border-left:1px solid #c81623; border-right:1px solid #c81623; border-top:3px solid #c81623; z-index:7; margin-top:-1px; padding-top:1px;}
.title .nav .active a{background-color:#FFFFFF; height:32px;}
.title .nav .active i{display:none;}
.floor1 .main{height:632px;}
.floor1 .main .aside{width:330px; float:left; position:relative;}
.floor1 .main .aside-content{height:473px; overflow:hidden;}
.floor1 .aside-content .pic{font-size:0; width:330px; height:473px; position:relative;}
.aside-content .pic:before{content:""; width:100px; height:473px; position:absolute; top:0; left:-300px; z-index:1; transform:skewX(-25deg);
                            background-image:-webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%);
                            background-image:-moz-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%);
                            background-image:-o-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.0.5) 50%,rgba(255,255,255,0) 100%);
                            background-image:-ms-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%);
                            background-image:linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%);
						  }
.floor1 .aside-content .pic:hover:before{left:500px; transition:all 0.5s;}
.floor1 .aside .text{height:220px; position:absolute;left:0; top:254px; z-index:10;}
.floor1 .aside .text .list1{background-color:rgba(255,255,255,0.4); padding-left:25px;}
.floor1 .aside .text .list1 li{width:100px; float:left; font-size:12px; line-height:26px; height:26px; margin:10px 0;}
.floor1 .aside .text .list1 li a{padding-left:31px; color:#666; display:block; background:url(../images/clothesicon.png) no-repeat left 0; font-family:"微软雅黑";}
.floor1 .aside .text .list1 li:hover a{color:#c81623;}
.floor1 .aside .text .list2 .active{color:#c81623;}
.floor1 .aside .text .list1 li .chart2{background-position:left -26px;}
.floor1 .aside .text .list1 li .chart3{background-position:left -52px;}
.floor1 .aside .text .list1 li .chart4{background-position:left -78px;}
.floor1 .aside .text .list1 li .chart5{background-position:left -104px;}
.floor1 .aside .text .list1 li .chart6{background-position:left -130px;}
.floor1 .main .ad-pic{height:157px; border:1px solid #EDEDED; font-size:0;}
.floor1 .main .ad-pic img{height:157px;}
.floor1 .aside .text .list2{height:112px; background-color:rgba(255,255,255,0.8); padding-top:16px;}
.floor1 .aside .text .list2 li{padding:0 19px 0 25px; width:116px; float:left;}
.floor1 .aside .text .list2 li a{font-size:12px; line-height:24px; height:24px; color:#999999; padding-right:10px; display:block; float:left;  font-family:"宋体";}
.floor1 .aside .text .list2 li a:hover{color:#c81623;}
.floor1 .main-wrap{width:880px; height:632px; float:left;}
.floor1 .main-wrap .show1{width:439px; float:left; border-right:1px solid #ededed;}
.floor1 .main-wrap .show1 li{float:left; height:157px; width:439px; border-bottom:1px solid #ededed; font-size:0;}
.floor1 .main-wrap .show1 li a{font-size:0;}
.floor1 .main-wrap .show2 li a{font-size:0;}
.floor1 .main-wrap .show1 .show1-pic2{height:315px; overflow:hidden;}
.floor1 .main-wrap .show2{float:left; width:219px;border-right:1px solid #ededed;}
.floor1 .main-wrap .show2 li{float:left; height:157px; width:219px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor1 .main-wrap .show3{float:left; width:219px;border-right:1px solid #ededed;}
.floor1 .main-wrap .show3 li{float:left; height:157px; width:219px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor1 .main-wrap .show3 .last{height:315px;}
.brand-logo{background-color:#f7f7f7; margin-top:10px;}
.brand-logo ul{height:66px;}
.brand-logo ul li{float:left; width:120px; border-right:1px dotted #ccc; margin-top:13px;}
.brand-logo ul li a{height:40px; width:100px; margin:0 auto; font-size:0; display:block;}
.brand-logo ul .last{border-right:0;} 

/*2F个护美妆*/
.floor2{width:1210px; margin:0 auto; padding-top:16px;}
.floor-title{height:40px; border-bottom:1px solid #c81623;}
.floor-title h3{font-size:20px; color:#333; line-height:40px; height:40px; font-weight:500; float:left;}
.floor-title h3 span{color:#FFFFFF; width:31px; height:32px; font-size:13px; line-height:32px; display:inline-block; background:url(../images/nva_bg.png) no-repeat left -35px;
                         padding:0 9px 3px 0;}
.floor-title .nav{float:right; border:1px solid #ededed; border-bottom:none; margin-top:5px;}
.floor-title .nav li{float:left; line-height:31px; height:31px; position:relative; border-left:1px solid #fff; border-right:1px solid #fff;
                          border-top:3px solid #fff; margin-left:-1px; border-collapse:collapse;}
.floor-title .nav li a{font-size:13px; display:block; color:#666; padding:0 17px; font-family:"宋体";}
.floor-title .nav li i{width:1px; height:14px; background-color:#cccccc; position:absolute; top:8px; right:-1px; z-index:6;}
.floor-title .nav li:hover{ border-left:1px solid #c81623; border-right:1px solid #c81623; border-top:3px solid #c81623; z-index:7; margin-top:-1px; padding-top:1px;}
.floor-title .nav li:hover a{background-color:#FFFFFF; height:32px;}
.floor-title .nav li:hover i{display:none;}
.floor-title .nav .active{ border-left:1px solid #c81623; border-right:1px solid #c81623; border-top:3px solid #c81623; z-index:7; margin-top:-1px; padding-top:1px;}
.floor-title .nav .active a{background-color:#FFFFFF; height:32px;}
.floor-title .nav .active i{display:none;}
.floor2 .main{height:474px; overflow:hidden;}
.floor2 .main .aside{width:210px; float:left; position:relative;}
.floor2 .main .aside-content{height:474px; overflow:hidden;}
.floor2 .aside-content .pic{font-size:0; width:210px; height:474px; position:relative;}
.floor2 .aside-content .pic:hover:before{left:500px; transition:all 0.5s;}
.floor2 .aside .text{height:237px; position:absolute;left:0; top:237px; z-index:10;}
.floor2 .aside .text .list1{background-color:rgba(255,255,255,0.4); padding-left:10px;}
.floor2 .aside .text .list1 li{width:98px; float:left; font-size:12px; line-height:26px; height:26px; margin:10px 0;}
.floor2 .aside .text .list1 li a{padding-left:31px; color:#666; display:block; background:url(../images/cosmeticsicon.png) no-repeat left 0;}
.floor2 .aside .text .list1 li:hover a{color:#c81623;}
.floor2 .aside .text .list2 .active{color:#c81623;}
.floor2 .aside .text .list1 li .chart2{background-position:left -26px;}
.floor2 .aside .text .list1 li .chart3{background-position:left -52px;}
.floor2 .aside .text .list1 li .chart4{background-position:left -78px;}
.floor2 .main .ad-pic{height:157px; border:1px solid #EDEDED; font-size:0;}
.floor2 .main .ad-pic img{height:157px;}
.floor2 .aside .text .list2{height:123px; background-color:rgba(255,255,255,0.8); padding-top:22px;}
.floor2 .aside .text .list2 .list2-text{padding-bottom:6px;}
.floor2 .aside .text .list2 .list2-text a{font-size:14px; line-height:24px; height:24px; color:#666; padding-right:5px; font-family:"微软雅黑";}
.floor2 .aside .text .list2 li{padding:0 25px 0 25px; width:150px; float:left;}
.floor2 .aside .text .list2 li a{font-size:12px; line-height:24px; height:24px; color:#999999; padding-right:10px; display:block; float:left; font-family:"宋体";}
.floor2 .aside .text .list2 li a:hover{color:#c81623;}
.floor2 .aside .text .list2 .active{color:#c81623;}
.floor2 .main-wrap{width:1000px; height:474px; float:left;}
.floor2 .main-wrap .show1{width:339px; float:left; border-right:1px solid #ededed;}
.floor2 .main-wrap .show1 .show1-pic1{height:296px; width:339px; overflow:hidden;  border-bottom:1px dotted #ededed;}
.floor2 .main-wrap .show1 .show1-pic2{height:176px; width:339px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor2 .main-wrap .show1 li a{font-size:0;}
.floor2 .main-wrap .show2 li a{font-size:0;}
.floor2 .main-wrap .show2{float:left; width:219px;border-right:1px solid #ededed;}
.floor2 .main-wrap .show2 .show2-pic1{height:296px; width:219px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor2 .main-wrap .show2 .show2-pic2{height:176px; width:219px; border-bottom:1px solid #ededed; overflow:hidden;}
.brand-logo{background-color:#f7f7f7; margin-top:10px;}
.brand-logo ul{height:66px;}
.brand-logo ul li{float:left; width:120px; border-right:1px dotted #ccc; margin-top:13px;}
.brand-logo ul li a{height:40px; width:100px; margin:0 auto; font-size:0; display:block;}
.brand-logo ul .last{border-right:0;} 
.floor2-ad{width:1210px; height:120px; margin:0 auto; padding-top:20px;}
.floor2-ad a{float:left; font-size:0; display:block;}


/*手机通讯*/
.floor3{width:1210px; margin:0 auto; padding-top:16px;}
.floor3 .main{height:474px; overflow:hidden;}
.floor3 .main .aside{width:330px; float:left; position:relative;}
.floor3 .main .aside-content{height:474px; overflow:hidden;}
.floor3 .aside-content .pic{font-size:0; width:330px; height:474px; position:relative;}
.floor3 .aside-content .pic:hover:before{left:500px; transition:all 0.5s;}
.floor3 .aside .text{height:237px; position:absolute;left:0; top:237px; z-index:10;}
.floor3 .aside .text .list1{background-color:rgba(255,255,255,0.4); padding-left:25px;}
.floor3 .aside .text .list1 li{width:98px; float:left; font-size:12px; line-height:26px; height:26px; margin:10px 0;}
.floor3 .aside .text .list1 li a{padding-left:31px; color:#666; display:block; background:url(../images/mobilesicon.png) no-repeat left 0;}
.floor3 .aside .text .list1 li:hover a{color:#c81623;}
.floor3 .aside .text .list2 .active{color:#c81623;}
.floor3 .aside .text .list1 li .chart2{background-position:left -26px;}
.floor3 .aside .text .list1 li .chart3{background-position:left -52px;}
.floor3 .aside .text .list2{height:169px; background-color:rgba(255,255,255,0.8); padding-top:22px;}
.floor3 .aside .text .list2 li{padding:0 0 0 25px; width:135px; float:left;}
.floor3 .aside .text .list2 li a{font-size:12px; line-height:24px; height:24px; color:#999999; padding-right:10px; display:block; float:left; font-family:"宋体";}
.floor3 .aside .text .list2 .list2-text{ width:330px; padding-bottom:6px; padding-left:0;}
.floor3 .aside .text .list2 .list2-text a{font-size:14px; width:135px; padding-left:25px; padding-right:0; line-height:24px; height:24px; color:#666; font-family:"微软雅黑";}
.floor3 .aside .text .list2 li a:hover{color:#c81623;}
.floor3 .main-wrap{width:880px; height:474px; float:left;}
.floor3 .main-wrap .show1{width:439px; float:left; border-right:1px solid #ededed;}
.floor3 .main-wrap .show1 .show1-pic1{height:236px; width:439px; overflow:hidden;  border-bottom:1px solid #ededed;}
.floor3 .main-wrap .show1 .show1-pic2{height:236px; width:439px; overflow:hidden;border-bottom:1px solid #ededed;}
.floor3 .main-wrap .show1 .show1-pic2 a{height:236px; width:219px; border-bottom:1px solid #ededed; overflow:hidden; display:block; float:left;}
.floor3 .main-wrap .show1 .show1-pic2 .one{border-right:1px solid #EDEDED;}
.floor3 .main-wrap .show1 li a{font-size:0;}
.floor3 .main-wrap .show2 li a{font-size:0;}
.floor3 .main-wrap .show2{float:left; width:219px;border-right:1px solid #ededed;}
.floor3 .main-wrap .show2 .show2-pic1{height:236px; width:219px;}
.floor3 .main-wrap .show2 .show2-pic1 a{height:117px; border-bottom:1px solid #ededed; display:block;}
.floor3 .main-wrap .show2 .show2-pic2{height:237px; width:219px; border-bottom:1px solid #EDEDED; overflow:hidden;}
.brand-logo{background-color:#f7f7f7; margin-top:10px;}
.brand-logo ul{height:66px;}
.brand-logo ul li{float:left; width:120px; border-right:1px dotted #ccc; margin-top:13px;}
.brand-logo ul li a{height:40px; width:100px; margin:0 auto; font-size:0; display:block;}
.brand-logo ul .last{border-right:0;} 



/*家用电器*/
.floor4{width:1210px; margin:0 auto; padding-top:16px;}
.floor4 .main{height:474px; overflow:hidden;}
.floor4 .main .aside{width:330px; float:left; position:relative;}
.floor4 .main .aside-content{height:474px; overflow:hidden;}
.floor4 .aside-content .pic{font-size:0; width:330px; height:474px; position:relative;}
.aside-content .pic:hover:before{left:500px; transition:all 0.5s;}
.floor4 .aside .text{height:237px; position:absolute;left:0; top:237px; z-index:10;}
.floor4 .aside .text .list1{background-color:rgba(255,255,255,0.4);}
.floor4 .aside .text .list1 li{width:135px; float:left; font-size:12px; line-height:26px; height:26px; margin:10px 0; padding-left:25px;}
.floor4 .aside .text .list1 li a{padding-left:31px; color:#666; display:block; background:url(../images/electronicsicon.png) no-repeat left 0;}
.floor4 .aside .text .list1 li:hover a{color:#c81623;}
.floor4 .aside .text .list2 .active{color:#c81623;}
.floor4 .aside .text .list1 li .chart2{background-position:left -26px;}
.floor4 .aside .text .list2{height:169px; background-color:rgba(255,255,255,0.8); padding-top:22px;}
.floor4 .aside .text .list2 li{padding:0 0 0 25px; width:135px; float:left;}
.floor4 .aside .text .list2 li a{font-size:12px; line-height:24px; height:24px; color:#999999; padding-right:10px; display:block; float:left; font-family:"宋体";}
.floor4 .aside .text .list2 .list2-text{ width:330px; padding-bottom:6px; padding-left:0;}
.floor4 .aside .text .list2 .list2-text a{font-size:14px; width:135px; padding-left:25px; padding-right:0; line-height:24px; height:24px; color:#666; font-family:"微软雅黑";}
.floor4 .aside .text .list2 li a:hover{color:#c81623;}
.floor4 .main-wrap{width:880px; height:474px; float:left;}
.floor4 .main-wrap .show1{width:439px; float:left; border-right:1px solid #ededed;}
.floor4 .main-wrap .show1 .show1-pic1{height:236px; width:439px; overflow:hidden;  border-bottom:1px solid #ededed;}
.floor4 .main-wrap .show1 .show1-pic2{height:236px; width:439px; overflow:hidden;border-bottom:1px solid #ededed;}
.floor4 .main-wrap .show1 .show1-pic2 a{height:236px; width:219px; border-bottom:1px solid #ededed; overflow:hidden; display:block; float:left;}
.floor4 .main-wrap .show1 .show1-pic2 .one{border-right:1px solid #EDEDED;}
.floor4 .main-wrap .show1 li a{font-size:0;}
.floor4 .main-wrap .show2 li a{font-size:0;}
.floor4 .main-wrap .show2{float:left; width:219px;border-right:1px solid #ededed;}
.floor4 .main-wrap .show2 .show2-pic1{height:236px; width:219px;}
.floor4 .main-wrap .show2 .show2-pic1 a{height:117px; border-bottom:1px solid #ededed; display:block;}
.floor4 .main-wrap .show2 .show2-pic2{height:237px; width:219px; border-bottom:1px solid #EDEDED; overflow:hidden;}



/*5楼电脑数码*/
.floor5{width:1210px; margin:0 auto; padding-top:16px;}
.floor5 .main{height:474px; overflow:hidden;}
.floor5 .main .aside{width:330px; float:left; position:relative;}
.floor5 .main .aside-content{height:474px; overflow:hidden;}
.floor5 .aside-content .pic{font-size:0; width:330px; height:474px; position:relative;}
.aside-content .pic:hover:before{left:500px; transition:all 0.5s;}
.floor5 .aside .text{height:237px; position:absolute;left:0; top:237px; z-index:10;}
.floor5 .aside .text .list1{background-color:rgba(255,255,255,0.4); padding-left:25px;}
.floor5 .aside .text .list1 li{width:98px; float:left; font-size:12px; line-height:26px; height:26px; margin:10px 0;}
.floor5 .aside .text .list1 li a{padding-left:31px; color:#666; display:block; background:url(../images/digitalsicon.png) no-repeat left 0;}
.floor5 .aside .text .list1 li:hover a{color:#c81623;}
.floor5 .aside .text .list2 .active{color:#c81623;}
.floor5 .aside .text .list1 li .chart2{background-position:left -26px;}
.floor5 .aside .text .list1 li .chart3{background-position:left -26px;}
.floor5 .clothing .main .ad-pic{height:157px; border:1px solid #EDEDED; font-size:0;}
.floor5 .main .ad-pic img{height:157px;}
.floor5 .aside .text .list2{height:169px; background-color:rgba(255,255,255,0.8); padding-top:22px;}
.floor5 .aside .text .list2 li{padding:0 0 0 25px; width:135px; float:left;}
.floor5 .aside .text .list2 li a{font-size:12px; line-height:24px; height:24px; color:#999999; padding-right:10px; display:block; float:left; font-family:"宋体";}
.floor5 .aside .text .list2 .list2-text{ width:330px; padding-bottom:6px; padding-left:0;}
.floor5 .aside .text .list2 .list2-text a{font-size:14px; width:135px; padding-left:25px; padding-right:0; line-height:24px; height:24px; color:#666; font-family:"微软雅黑";}
.floor5 .aside .text .list2 li a:hover{color:#c81623;}
.floor5 .main-wrap{width:880px; height:474px; float:left;}
.floor5 .main-wrap .show1{width:439px; float:left; border-right:1px solid #ededed;}
.floor5 .main-wrap .show1 .show1-pic1{height:236px; width:439px; overflow:hidden;  border-bottom:1px solid #ededed;}
.floor5 .main-wrap .show1 .show1-pic2{height:236px; width:439px; overflow:hidden;border-bottom:1px solid #ededed;}
.floor5 .main-wrap .show1 .show1-pic2 a{height:236px; width:219px; border-bottom:1px solid #ededed; overflow:hidden; display:block; float:left;}
.floor5 .main-wrap .show1 .show1-pic2 .one{border-right:1px solid #EDEDED;}
.floor5 .main-wrap .show1 li a{font-size:0;}
.floor5 .main-wrap .show2 li a{font-size:0;}
.floor5 .main-wrap .show2{float:left; width:219px;border-right:1px solid #ededed;}
.floor5 .main-wrap .show2 .show2-pic1{height:236px; width:219px;}
.floor5 .main-wrap .show2 .show2-pic1 a{height:117px; border-bottom:1px solid #ededed; display:block;}

.floor5 .main-wrap .show2 .show2-pic2{height:237px; width:219px; border-bottom:1px solid #EDEDED; overflow:hidden;}
.floor5-ad{width:1210px; height:125px; margin:0 auto; padding-top:20px;}
.floor5-ad a{float:left; font-size:0; display:block;}

/*6F运动健身*/
.floor6{width:1210px; margin:0 auto; padding-top:11px;}
.floor6 .main{height:474px; overflow:hidden;}
.floor6 .main .aside{width:210px; float:left; position:relative;}
.floor6 .main .aside-content{height:474px; overflow:hidden;}
.floor6 .aside-content .pic{font-size:0; width:210px; height:474px; position:relative;}
.floor6 .aside-content .pic:hover:before{left:500px; transition:all 0.5s;}
.floor6 .aside .text{height:237px; position:absolute;left:0; top:237px; z-index:10;}
.floor6 .aside .text .list1{background-color:rgba(255,255,255,0.4); padding-left:10px;}
.floor6 .aside .text .list1 li{width:98px; float:left; font-size:12px; line-height:26px; height:26px; margin:10px 0;}
.floor6 .aside .text .list1 li a{padding-left:31px; color:#666; display:block; background:url(../images/sportsicon.png) no-repeat left 0;}
.floor6 .aside .text .list1 li:hover a{color:#c81623;}
.floor6 .aside .text .list2 .active{color:#c81623;}
.floor6 .aside .text .list1 li .chart2{background-position:left -26px;}
.floor6 .aside .text .list1 li .chart3{background-position:left -52px;}
.floor6 .aside .text .list1 li .chart4{background-position:left -78px;}
.floor6 .aside .text .list2{height:123px; background-color:rgba(255,255,255,0.8); padding-top:22px;}
.floor6 .aside .text .list2 .list2-text{padding-bottom:6px;}
.floor6 .aside .text .list2 .list2-text a{font-size:14px; line-height:24px; height:24px; color:#666; padding-right:5px; font-family:"微软雅黑";}
.floor6 .aside .text .list2 li{padding:0 25px 0 25px; width:180px; float:left;}
.floor6 .aside .text .list2 li a{font-size:12px; line-height:24px; height:24px; color:#999999; padding-right:10px; display:block; float:left; font-family:"宋体";}
.floor6 .aside .text .list2 li a:hover{color:#c81623;}
.floor6 .aside .text .list2 .active{color:#c81623;}
.floor6 .main-wrap{width:1000px; height:474px; float:left;}
.floor6 .main-wrap .show1{width:219px; float:left; border-right:1px solid #ededed;}
.floor6 .main-wrap .show1 .show1-pic1{height:236px; width:219px; overflow:hidden;  border-bottom:1px dotted #ededed;}
.floor6 .main-wrap .show1 .show1-pic2{height:236px; width:219px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor6 .main-wrap .show1 li a{font-size:0;}
.floor6 .main-wrap .show2 li a{font-size:0;}
.floor6 .main-wrap .show2{float:left; width:339px;border-right:1px solid #ededed;}
.floor6 .main-wrap .show2 .show2-pic1{height:236px; width:339px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor6 .main-wrap .show2 .show2-pic2{height:236px; width:339px; border-bottom:1px solid #ededed; overflow:hidden;}


/*7楼居家生活*/
.floor7{width:1210px; margin:0 auto; padding-top:16px;}
.floor7 .main{height:474px; overflow:hidden;}
.floor7 .main .aside{width:210px; float:left; position:relative;}
.floor7 .main .aside-content{height:474px; overflow:hidden;}
.floor7 .aside-content .pic{font-size:0; width:210px; height:474px; position:relative;}
.floor7 .aside-content .pic:hover:before{left:500px; transition:all 0.5s;}
.floor7 .aside .text{height:237px; position:absolute;left:0; top:237px; z-index:10;}
.floor7 .aside .text .list1{background-color:rgba(255,255,255,0.4); padding-left:10px;}
.floor7 .aside .text .list1 li{width:98px; float:left; font-size:12px; line-height:26px; height:26px; margin:10px 0;}
.floor7 .aside .text .list1 li a{padding-left:31px; color:#666; display:block; background:url(../images/livingsicon.png) no-repeat left 0;}
.floor7 .aside .text .list1 li:hover a{color:#c81623;}
.floor7 .aside .text .list2 .active{color:#c81623;}
.floor7 .aside .text .list1 li .chart2{background-position:left -26px;}
.floor7 .aside .text .list1 li .chart3{background-position:left -52px;}
.floor7 .aside .text .list1 li .chart4{background-position:left -78px;}
.floor7 .aside .text .list2{height:123px; background-color:rgba(255,255,255,0.8); padding-top:22px;}
.floor7 .aside .text .list2 .list2-text{padding-bottom:6px;}
.floor7 .aside .text .list2 .list2-text a{font-size:14px; line-height:24px; height:24px; color:#666; padding-right:5px; font-family:"微软雅黑";}
.floor7 .aside .text .list2 li{padding:0 25px 0 25px; width:180px; float:left;}
.floor7 .aside .text .list2 li a{font-size:12px; line-height:24px; height:24px; color:#999999; padding-right:10px; display:block; float:left; font-family:"宋体";}
.floor7 .aside .text .list2 li a:hover{color:#c81623;}
.floor7 .aside .text .list2 .active{color:#c81623;}
.floor7 .main-wrap{width:1000px; height:474px; float:left;}
.floor7 .main-wrap .show1{width:219px; float:left; border-right:1px solid #ededed;}
.floor7 .main-wrap .show1 .show1-pic1{height:236px; width:219px; overflow:hidden;  border-bottom:1px dotted #ededed;}
.floor7 .main-wrap .show1 .show1-pic2{height:236px; width:219px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor7 .main-wrap .show1 li a{font-size:0;}
.floor7 .main-wrap .show2 li a{font-size:0;}
.floor7 .main-wrap .show2{float:left; width:339px;border-right:1px solid #ededed;}
.floor7 .main-wrap .show2 .show2-pic1{height:236px; width:339px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor7 .main-wrap .show2 .show2-pic2{height:236px; width:339px; border-bottom:1px solid #ededed; overflow:hidden;}


/*8楼母婴玩具*/
.floor8{width:1210px; margin:0 auto; padding-top:16px;}
.floor8 .main{height:474px; overflow:hidden;}
.floor8 .main .aside{width:210px; float:left; position:relative;}
.floor8 .main .aside-content{height:474px; overflow:hidden;}
.floor8 .aside-content .pic{font-size:0; width:210px; height:474px; position:relative;}
.floor8 .aside-content .pic:hover:before{left:500px; transition:all 0.5s;}
.floor8 .aside .text{height:237px; position:absolute;left:0; top:237px; z-index:10;}
.floor8 .aside .text .list1{background-color:rgba(255,255,255,0.4); padding-left:10px;}
.floor8 .aside .text .list1 li{width:98px; float:left; font-size:12px; line-height:26px; height:26px; margin:10px 0;}
.floor8 .aside .text .list1 li a{padding-left:31px; color:#666; display:block; background:url(../images/babysicon.png) no-repeat left 0;}
.floor8 .aside .text .list1 li:hover a{color:#c81623;}
.floor8 .aside .text .list2 .active{color:#c81623;}
.floor8 .aside .text .list1 li .chart2{background-position:left -26px;}
.floor8 .aside .text .list1 li .chart3{background-position:left -52px;}
.floor8 .aside .text .list1 li .chart4{background-position:left -78px;}
.floor8 .aside .text .list2{height:123px; background-color:rgba(255,255,255,0.8); padding-top:22px;}
.floor8 .aside .text .list2 .list2-text{padding-bottom:6px;}
.floor8 .aside .text .list2 .list2-text a{font-size:14px; line-height:24px; height:24px; color:#666; padding-right:5px; font-family:"微软雅黑";}
.floor8 .aside .text .list2 li{padding:0 25px 0 25px; width:180px; float:left;}
.floor8 .aside .text .list2 li a{font-size:12px; line-height:24px; height:24px; color:#999999; padding-right:10px; display:block; float:left; font-family:"宋体";}
.floor8 .aside .text .list2 li a:hover{color:#c81623;}
.floor8 .aside .text .list2 .active{color:#c81623;}
.floor8 .main-wrap{width:1000px; height:474px; float:left;}
.floor8 .main-wrap .show1{width:219px; float:left; border-right:1px solid #ededed;}
.floor8 .main-wrap .show1 .show1-pic1{height:236px; width:219px; overflow:hidden;  border-bottom:1px dotted #ededed;}
.floor8 .main-wrap .show1 .show1-pic2{height:236px; width:219px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor8 .main-wrap .show1 li a{font-size:0;}
.floor8 .main-wrap .show2 li a{font-size:0;}
.floor8 .main-wrap .show2{float:left; width:339px;border-right:1px solid #ededed;}
.floor8 .main-wrap .show2 .show2-pic1{height:236px; width:339px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor8 .main-wrap .show2 .show2-pic2{height:236px; width:339px; border-bottom:1px solid #ededed; overflow:hidden;}


/*9楼居家生活*/
.floor9{width:1210px; margin:0 auto; padding-top:16px;}
.floor9 .main{height:474px; overflow:hidden;}
.floor9 .main .aside{width:210px; float:left; position:relative;}
.floor9 .main .aside-content{height:474px; overflow:hidden;}
.floor9 .aside-content .pic{font-size:0; width:210px; height:474px; position:relative;}
.floor9 .aside-content .pic:hover:before{left:500px; transition:all 0.5s;}
.floor9 .aside .text{height:237px; position:absolute;left:0; top:237px; z-index:10;}
.floor9 .aside .text .list1{background-color:rgba(255,255,255,0.4); padding-left:10px;}
.floor9 .aside .text .list1 li{width:98px; float:left; font-size:12px; line-height:26px; height:26px; margin:10px 0;}
.floor9 .aside .text .list1 li a{padding-left:31px; color:#666; display:block; background:url(../images/foodsicon.png) no-repeat left 0;}
.floor9 .aside .text .list1 li:hover a{color:#c81623;}
.floor9 .aside .text .list2 .active{color:#c81623;}
.floor9 .aside .text .list1 li .chart2{background-position:left -26px;}
.floor9 .aside .text .list1 li .chart3{background-position:left -52px;}
.floor9 .aside .text .list1 li .chart4{background-position:left -78px;}
.floor9 .aside .text .list2{height:123px; background-color:rgba(255,255,255,0.8); padding-top:22px;}
.floor9 .aside .text .list2 .list2-text{padding-bottom:6px;}
.floor9 .aside .text .list2 .list2-text a{font-size:14px; line-height:24px; height:24px; color:#666; padding-right:5px; font-family:"微软雅黑";}
.floor9 .aside .text .list2 li{padding:0 25px 0 25px; width:180px; float:left;}
.floor9 .aside .text .list2 li a{font-size:12px; line-height:24px; height:24px; color:#999999; padding-right:10px; display:block; float:left; font-family:"宋体";}
.floor9 .aside .text .list2 li a:hover{color:#c81623;}
.floor9 .aside .text .list2 .active{color:#c81623;}
.floor9 .main-wrap{width:1000px; height:474px; float:left;}
.floor9 .main-wrap .show1{width:219px; float:left; border-right:1px solid #ededed;}
.floor9 .main-wrap .show1 .show1-pic1{height:236px; width:219px; overflow:hidden;  border-bottom:1px dotted #ededed;}
.floor9 .main-wrap .show1 .show1-pic2{height:236px; width:219px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor9 .main-wrap .show1 li a{font-size:0;}
.floor9 .main-wrap .show2 li a{font-size:0;}
.floor9 .main-wrap .show2{float:left; width:339px;border-right:1px solid #ededed;}
.floor9 .main-wrap .show2 .show2-pic1{height:236px; width:339px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor9 .main-wrap .show2 .show2-pic2{height:236px; width:339px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor9-ad{width:1210px; height:125px; margin:0 auto; padding-top:20px;}
.floor9-ad a{float:left; font-size:0; display:block;}


/*F10图书音像*/
.floor10{width:1210px; margin:0 auto;}
.floor10 .main{height:474px; overflow:hidden;}
.floor10 .main .aside{width:210px; float:left; position:relative;}
.floor10 .main .aside-content{height:474px; overflow:hidden;}
.floor10 .aside-content .pic{font-size:0; width:210px; height:474px; position:relative;}
.floor10 .aside-content .pic:hover:before{left:500px; transition:all 0.5s;}
.floor10 .aside .text{height:237px; position:absolute;left:0; top:237px; z-index:10;}
.floor10 .aside .text .list1{background-color:rgba(255,255,255,0.4); padding-left:10px;}
.floor10 .aside .text .list1 li{width:98px; float:left; font-size:12px; line-height:26px; height:26px; margin:10px 0;}
.floor10 .aside .text .list1 li a{padding-left:31px; color:#666; display:block; background:url(../images/booksicon.png) no-repeat left 0;}
.floor10 .aside .text .list1 li:hover a{color:#c81623;}
.floor10 .aside .text .list2 .active{color:#c81623;}
.floor10 .aside .text .list1 li .chart2{background-position:left -26px;}
.floor10 .aside .text .list1 li .chart3{background-position:left -52px;}
.floor10 .aside .text .list1 li .chart4{background-position:left -78px;}
.floor10 .aside .text .list1 li .chart5{background-position:left -104px;}
.floor10 .aside .text .list1 li .chart6{background-position:left -130px;}
.floor10 .clothing .main .ad-pic{height:157px; border:1px solid #EDEDED; font-size:0;}
.floor10 .main .ad-pic img{height:157px;}
.floor10 .aside .text .list2{height:123px; background-color:rgba(255,255,255,0.8); padding-top:22px;}
.floor10 .aside .text .list2 .list2-text{padding-bottom:6px;}
.floor10 .aside .text .list2 .list2-text a{font-size:14px; line-height:24px; height:24px; color:#666; padding-right:5px; font-family:"微软雅黑";}
.floor10 .aside .text .list2 li{padding:0 25px 0 25px; width:160px; float:left;}
.floor10 .aside .text .list2 li a{font-size:12px; line-height:24px; height:24px; color:#999999; padding-right:10px; display:block; float:left; font-family:"宋体";}
.floor10 .aside .text .list2 li a:hover{color:#c81623;}
.floor10 .aside .text .list2 .active{color:#c81623;}
.floor10 .main-wrap{width:1000px; height:474px; float:left;}
.floor10 .main-wrap .show1{width:219px; float:left; border-right:1px solid #ededed;}
.floor10 .main-wrap .show1 .show1-pic1{height:236px; width:219px; overflow:hidden;  border-bottom:1px dotted #ededed;}
.floor10 .main-wrap .show1 .show1-pic2{height:236px; width:219px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor10 .main-wrap .show1 li a{font-size:0;}
.floor10 .main-wrap .show2 li a{font-size:0;}
.floor10 .main-wrap .show2{float:left; width:439px;border-right:1px solid #ededed;}
.floor10 .main-wrap .show2 .show2-pic1{height:236px; width:439px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor10 .main-wrap .show2 .show2-pic2{height:236px; width:439px; border-bottom:1px solid #ededed; overflow:hidden;}
.floor10 .main-wrap .show2 .show2-pic2 a{height:236px; width:219px; border-bottom:1px solid #ededed; overflow:hidden; display:block; float:left;}
.floor10 .main-wrap .show2 .show2-pic2 .one{border-right:1px solid #EDEDED;}
.floor10 .main-wrap dl{width:329px; height:473px; border-bottom:1px solid #EDEDED; border-right:1px solid #EDEDED; float:left; padding-left:10px;}
.floor10 .main-wrap dl dt{font-size:20px; color:#666; line-height:40px; height:40px; margin-right:15px; border-bottom:1px solid #e4e4e4; padding-top:6px;}
.floor10 .main-wrap dl dd{width:321px; height:79px; padding-left:4px; margin-top:21px;}
.floor10 .main-wrap dl dd .author{width:72px; height:79px; border-right:1px dotted #dbdbdb; text-align:center; float:left; font-size:0; display:block;}
.floor10 .main-wrap dl dd .author img{width:48px; height:48px; border-radius:50%; margin-top:2px;}
.floor10 .main-wrap dl dd .author p{font-size:12px; color:#666; line-height:30px; height:30px;}
.floor10 .main-wrap dl dd .writing{float:left; width:248px;}
.floor10 .main-wrap dl dd .writing .book{width:98px; height:79px; display:block; float:left; text-align:center;}
.floor10 .main-wrap dl dd .writing .book img{height:100%;}
.floor10 .main-wrap dl dd .writing .book-text{float:left;}
.floor10 .main-wrap dl dd .writing .book-text  a p{width:145px; overflow:hidden; font-size:13px; color:#666; line-height:16px; height:16px; margin-bottom:4px;}
.floor10 .main-wrap dl dd .writing .book-text .book-wenzi{width:150px; height:54px; background-color:#f8f8f8; position:relative;}
.floor10 .main-wrap dl dd .writing .book-text .book-wenzi p{font-size:12px; color:#999; line-height:18px; padding:10px 0 0 5px; width:130px; display:block;}
.floor10 .main-wrap dl dd .writing .book-text .book-wenzi p i{font-size:30px; width:15px; color:#aaa; line-height:18px; height:35px; margin-top:4px; display:inline-block;}
.floor10 .main-wrap dl dd .writing .book-text .book-wenzi p .l-dou{float:left;}
.floor10 .main-wrap dl dd .writing .book-text .book-wenzi p .r-dou{vertical-align:-15px;}
.floor10 .main-wrap dl dd .writing .book-text .book-wenzi span{width:0; height:0; border-right:6px solid #f8f8f8;
               border-top:6px solid #fff; border-bottom:6px solid #fff; position:absolute; top:21px; left:-6px;}



/*11楼整车用品*/
.floor11{width:1210px; margin:0 auto; padding-top:16px;}
.floor11 .main{height:474px; overflow:hidden;}
.floor11 .main .aside{width:330px; float:left; position:relative;}
.floor11 .main .aside-content{height:474px; overflow:hidden;}
.floor11 .aside-content .pic{font-size:0; width:330px; height:474px; position:relative;}
.aside-content .pic:hover:before{left:500px; transition:all 0.5s;}
.floor11 .aside .text{height:237px; position:absolute;left:0; top:237px; z-index:10;}
.floor11 .aside .text .list1{background-color:rgba(255,255,255,0.4); padding-left:25px;}
.floor11 .aside .text .list1 li{width:98px; float:left; font-size:12px; line-height:26px; height:26px; margin:10px 0;}
.floor11 .aside .text .list1 li a{padding-left:31px; color:#666; display:block; background:url(../images/carsicon.png) no-repeat left 0;}
.floor11 .aside .text .list1 li:hover a{color:#c81623;}
.floor11 .aside .text .list2 .active{color:#c81623;}
.floor11 .aside .text .list1 li .chart2{background-position:left -26px;}
.floor11 .aside .text .list1 li .chart3{background-position:left -52px;}
.floor11 .clothing .main .ad-pic{height:157px; border:1px solid #EDEDED; font-size:0;}
.floor11 .main .ad-pic img{height:157px;}
.floor11 .aside .text .list2{height:169px; background-color:rgba(255,255,255,0.8); padding-top:22px;}
.floor11 .aside .text .list2 li{padding:0 0 0 25px; width:135px; float:left;}
.floor11 .aside .text .list2 li a{font-size:12px; line-height:24px; height:24px; color:#999999; padding-right:10px; display:block; float:left; font-family:"宋体";}
.floor11 .aside .text .list2 .list2-text{ width:330px; padding-bottom:6px; padding-left:0;}
.floor11 .aside .text .list2 .list2-text a{font-size:14px; width:135px; padding-left:25px; padding-right:0; line-height:24px; height:24px; color:#666; font-family:"微软雅黑";}
.floor11 .aside .text .list2 li a:hover{color:#c81623;}
.floor11 .main-wrap{width:880px; height:474px; float:left;}
.floor11 .main-wrap .show1{width:439px; float:left; border-right:1px solid #ededed;}
.floor11 .main-wrap .show1 .show1-pic1{height:236px; width:439px; overflow:hidden;  border-bottom:1px solid #ededed;}
.floor11 .main-wrap .show1 .show1-pic2{height:236px; width:439px; overflow:hidden;border-bottom:1px solid #ededed;}
.floor11 .main-wrap .show1 .show1-pic2 a{float:left; width:219px; height:236px;}
.floor11 .main-wrap .show1 li a{font-size:0;}
.floor11 .main-wrap .show2 li a{font-size:0;}
.floor11 .main-wrap .show2{float:left; width:219px;border-right:1px solid #ededed;}
.floor11 .main-wrap .show2 .show2-pic1{height:236px; width:219px;}
.floor11 .main-wrap .show2 .show2-pic1 a{height:117px; border-bottom:1px solid #ededed; display:block;}
.floor11 .main-wrap .show2 .show2-pic2{height:237px; width:219px; border-bottom:1px solid #EDEDED; overflow:hidden;}


/*12楼生活服务*/
.floor12{width:1210px; margin:0 auto; padding-top:17px;}
.floor12 .main{height:474px; overflow:hidden;}
.floor12 .main .aside{width:210px; float:left; position:relative;}
.floor12 .main .aside-content{height:474px; overflow:hidden;}
.floor12 .aside-content .pic{font-size:0; width:210px; height:474px; position:relative;}
.floor12 .aside-content .pic:hover:before{left:500px; transition:all 0.5s;}
.floor12 .aside .text{height:237px; position:absolute;left:0; top:237px; z-index:10;}
.floor12 .aside .text .list1{background-color:rgba(255,255,255,0.4); padding-left:25px;}
.floor12 .aside .text .list1 li{width:150px; float:left; font-size:12px; line-height:26px; height:26px; margin:10px 0;}
.floor12 .aside .text .list1 li a{padding-left:31px; color:#666; display:block; background:url(../images/lifeicon.png) no-repeat left 0;}
.floor12 .aside .text .list1 li:hover a{color:#c81623;}
.floor12 .aside .text .list2 .active{color:#c81623;}
.floor12 .aside .text .list1 li .chart2{background-position:left -26px;}
.floor12 .aside .text .list1 li .chart3{background-position:left -52px;}
.floor12 .aside .text .list1 li .chart4{background-position:left -78px;}
.floor12 .aside .text .list1 li .chart5{background-position:left -104px;}
.floor12 .aside .text .list1 li .chart6{background-position:left -130px;}
.floor12 .clothing .main .ad-pic{height:157px; border:1px solid #EDEDED; font-size:0;}
.floor12 .main .ad-pic img{height:157px;}
.floor12 .aside .text .list2{height:123px; background-color:rgba(255,255,255,0.8); padding-top:22px;}
.floor12 .aside .text .list2 .list2-text{padding-bottom:6px;}
.floor12 .aside .text .list2 .list2-text a{font-size:14px; line-height:24px; height:24px; color:#666; padding-right:5px; font-family:"微软雅黑";}
.floor12 .aside .text .list2 li{padding:0 25px 0 25px; width:150px; float:left;}
.floor12 .aside .text .list2 li a{font-size:12px; line-height:24px; height:24px; color:#999999; padding-right:10px; display:block; float:left; font-family:"宋体";}
.floor12 .aside .text .list2 li a:hover{color:#c81623;}
.floor12 .aside .text .list2 .active{color:#c81623;}
.floor12 .main-wrap{width:395px; height:474px; float:left;}
.floor12 .main-wrap .show1{width:395px; float:left;}
.floor12 .main-wrap .show1 .show1-pic1{height:237px; width:395px; overflow:hidden; border-bottom:1px solid #ededed;}
.floor12 .main-wrap .show1 .show1-pic2{height:235px; width:395px; float:left;}
.floor12 .main-wrap .show1 .show1-pic2 a{height:116px; width:196px; border-bottom:1px solid #ededed; border-right:1px solid #ededed; overflow:hidden; float:left;}
.floor12 .main-wrap .show1 .show1-pic2 .two{width:197px;}
.floor12 .main-wrap .show1 .show1-pic2 .three{height:118px;}
.floor12 .main-wrap .show1 .show1-pic2 .four{width:197px; height:118px;}
.floor12 .main-wrap .show1 li a{font-size:0;}


/*天天特价*/
.lowprice{width:1210px; margin:0 auto; padding-top:14px;}
.low-tit h3{font-size:20px; color:#333; line-height:41px; height:41px; font-weight:500;}
.low-left{float:left;}
.low-left-list{height:282px; width:900px; border-top:1px solid #EDEDED; border-left:1px solid #EDEDED; }
.low-left-list .big{width:239px; height:281px; border-right:1px solid #EDEDED; border-bottom:1px solid #EDEDED; float:left;}
.low-left-list .big .pic{width:160px; height:160px; margin:0 auto; padding-top:18px; overflow:hidden;}
.low-left-list .big .pic a{ font-size:0; display:block; transition:all 0.3s linear;}
.low-left-list .big:hover .pic a{transform:translateX(-15px);}
.low-left-list .big p{padding:27px 0 0 29px; width:195px; overflow:hidden; font-size:12px; line-height:24px; height:24px; color:#666; font-family:"宋体";}
.low-left-list .big span{padding-left:29px; line-height:22px; height:22px; font-size:16px; color:#e12228; font-weight:bold;}
.low-left-list .big p:hover{color:#c81623;}
.low-left-list .small{float:left;}
.low-left-list .small ul{width:660px;}
.low-left-list .small ul li{float:left; width:219px; height:140px; border-right:1px solid #EDEDED; border-bottom:1px solid #EDEDED;}
.low-left-list .small .pic{float:left;width:100px; height:100px; margin:18px 5px 0 10px; overflow:hidden;}
.low-left-list .small ul li:hover .pic a{transform:translateX(-10px);}
.low-left-list .small .small-text{float:left;}
.low-left-list .small .pic a{width:100px; height:100px; display:block; font-size:0; transition:all 0.3s linear;}
.low-left-list .small p{ width:90px; overflow:hidden; font-size:12px; line-height:18px; height:36px; color:#666; font-family:"宋体"; padding-top:18px;}
.low-left-list .small span{line-height:28px; height:28px; font-size:16px; color:#e12228; font-weight:bold; float:left;}
.low-left-list .small p:hover{color:#c81623;}
.low-right{float:left;}
.low-right-list{width:265px; height:206px; float:left; border:1px solid #ededed; border-left:none; overflow:hidden; padding:39px 23px 36px 20px; position:relative;}
.low-right-list ul{height:206px; position:absolute; animation:roll 5s linear infinite;}
.low-right-list ul li{width:265px; height:86px; padding-bottom:34px;}
.low-right-list ul:hover{animation-play-state:paused;}
.low-right-list ul li .pic{float:left; padding:6px 20px 0 0px;}
.low-right-list ul li .pic a{width:80px; height:80px; float:left;}
.low-right-list ul li .pic a img{width:100%;}
.low-right-list ul li .assess{float:left; padding-bottom:5px;}
.low-right-list ul li .assess-head a{width:27px; height:27px; font-size:0; float:left; border-radius:50%; padding:0 8px 5px 0;}
.low-right-list ul li .assess-head p{float:left; font-size:12px; color:#666; line-height:27px; height:27px;}
.low-right-list ul li .assess-text{width:165px; height:54px; background-color:#f8f8f8; position:relative;}
.low-right-list ul li .assess-text p{font-size:12px; color:#999; line-height:18px; padding:10px 0 0 5px; width:130px; display:block;}
.low-right-list ul li .assess-text p i{font-size:30px; width:15px; color:#aaa; line-height:18px; height:35px; margin-top:4px; display:inline-block;}
.low-right-list ul li .assess-text p:hover{color:#c81623;}
.low-right-list ul li .assess-text p .l-dou{float:left;}
.low-right-list ul li .assess-text p .r-dou{vertical-align:-15px;}
.low-right-list ul li .assess-text span{width:0; height:0; border-right:6px solid #f8f8f8;
               border-top:6px solid #fff; border-bottom:6px solid #fff; position:absolute; top:21px; left:-6px;}
@keyframes roll{
	0%{top:39px;}
	100%{top:-206px;}
}




.slogan{background-color:#f5f5f5; height:94px; margin-top:16px;}
.slogan ul{padding-left:10px;}
.slogan ul li{float:left; width:220px; height:54px; margin:20px 80px 0 0;
              background:url(../images/nva_bg.png) no-repeat left -130px;}
.slogan ul .slogan2{background-position:left -193px;}
.slogan ul .slogan3{background-position:left -258px;}
.slogan ul .slogan4{background-position:left -321px;}

/*底部*/
.footer{width:1210px; height:202px; background-color:#fff; margin:0 auto; border-bottom:1px solid #e5e5e5;}
.footer dl{float:left; width:199px;}
.footer dl dt{font-size:16px; color:#666; line-height:35px; height:35px; padding-top:15px;}
.footer dl dd{font-size:12px; line-height:20px; height:20px; font-family:"宋体";}
.footer dl dd a{color:#666;}
.footer dl dd a:hover{color:#c81623;}
.footer .but-one{width:167px;}
.footer .last{padding-left:17px; background:url(../images/20130330B_1.png) no-repeat -3px -119px;}
.footer .last dd{height:120px;line-height:18px; color:#666; padding-top:10px;}
.footer .last dd a{float:right;}

.bottom{width:1210px; height:196px; margin:0 auto; text-align:center;}
.bottom ul li{font-family:"宋体"; font-size:12px; float:left;}
.bottom ul li a{ color:#666;}
.bottom .list1{padding-top:11px; display:inline-block;}
.bottom .list1 li{float:left; line-height:36px; height:36px;}
.bottom .list1 li span{padding:0 12px;}
.bottom .list1 li a:hover{color:#c81623;}
.bottom .list2{display:inline-block;}
.bottom .list2 li span{padding:0 8px;}
.bottom .list2 li{color:#666; line-height:20px; height:20px;}
.bottom-pic{display:inline-block; padding-top:10px;}
.bottom-pic a{float:left; width:103px; height:32px; font-size:0; display:block; padding-right:13px;}

/*电梯导航栏*/
.jd-elevator{width:30px; height:372px; position:fixed; top:50%; left:50%; margin:-186px 0 0 -645px;}
.jd-elevator ul li{line-height:30px; width:30px; height:30px; border-bottom:1px dotted #c2c2c2; font-size:14px; color:#666;                  text-align:center; position:relative;}
.jd-elevator ul li a{width:30px; height:30px; background-color:#c81623; color:#fff; position:absolute; top:0; left:0; 
                    display:none; font-size:12px;}
.jd-elevator ul li:hover a{display:block;}

/*返回顶部*/
.totop{position:fixed; bottom:0; right:0;}
.totop ul li{margin-bottom:1px; position:relative;}
.totop ul li i{width:35px; height:35px; background:#7a6e6e url(../images/toolbars.png) no-repeat -86px -173px; display:block;
               border-radius:3px; position:relative; z-index:2;}
.totop ul li .two{background-position:-50px -1px;}
.totop ul li .three{background-position:-47px -249px;}
.totop ul li .four{background-position:-47px -300px;}
.totop ul li span{position:absolute; width:60px; height:35px; border-radius:3px; background-color:#c81623; top:0; left:0px;
                  font-size:12px; color:#fff; display:block; padding-left:10px; margin-bottom:1px; line-height:35px;
				  z-index:1; transition:all 0.2s;}	
.totop ul li .last{position:relative; background:#c81623; color:#fff; line-height:17px; font-size:12px; text-align:center;}
.totop ul li:hover span{left:-60px;}
.totop ul li:hover i{background-color:#c81623;}
	
	
	
	
	
	
	
	
	
	
	


